{
  "trailingComma": "none",
  "embeddedLanguageFormatting": "auto",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true
}
